build/
test/
env/
mjpro150/
*mjkey.txt
*.so
*.dll
.vscode
*__pycache__*

*.mp4
*MUJOCO_LOG.TXT
example/cassiesim
example/cassiectrl
example/cassievideo
example/test_doublevis
example/cassietest
example/test_doublevis
example/test_hfield
example/test_terrain
example/vel_check
